* {
    font-family: "Garamont";
    text-align: center;
}

#skibidi {
    display: flex;
}

#footer, #header {
    background-color: #8C7B75;
    color: white;
    height: 70px;
    font-size: 150%;
}

#lewy, #prawy {
    background-color: #BCAAA4;
    height: 400px;
    width: 35%;
}

#srodek {
    background-color: #EFDCD5;
    height: 400px;
    width: 30%;
}

li {
    list-style: lower-latin;
    text-align: left;
}

img {
    border: 1px dashed #8C7B75;
    padding: 5px;
    border-radius: 10%;
}

.wynik{
    margin-top: 100px;
    border: 1px solid #8C7B75;
}

